html {
    height: 100%;
}

body {
    height: 100%;
    
}

.header{
    display:flex;
    justify-content:center;
}

.navbar{
    display:flex;
    justify-content:space-around;
}

.social{
    display:flex;
    justify-content:space-around;
}

#copyright{
    display:flex;
    justify-content:center;
}

.gallery{
    display:flex;
    justify-content:space-around;
}

.thumbnail-image{
    width:100%;
}

a {
    text-decoration: none;
}

.main {
}
.social-image{
    width: 30px;
    margin: 15px;
}
